.idea/
# IDE
.vscode/
.DS_STORE
/coverage/
# Vendor
/vendor/
# Logs
/app/logs/*
!/app/logs/README.md
# Cache
/var/cache/*
.phpunit.result.cache
cache.properties
.php_cs.cache
/*.env
/*.env.dist
/app/config/config.ini
# Composer
composer.phar
composer.lock
app/vendor/